@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

@import url("./styles/login.css");
@import url("./styles/landing.css");
@import url("./styles/todolistdetails.css");
html {
    font-size: 62.5%;
    font-family: "Teko", sans-serif;
    font-weight: normal;
margin: 0;
background-color: #0c0a09e5;
    color:#FAFAF9;
}
body{
    margin: 0;
}
.btn__primary{
    background-color: #EA580C;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    width: 100%;
    color: white;
}
.btn__danger{
    background-color: #ea0c0c;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    width: 100%;
    color: white;
}
.btn__secondary{
    background-color: #ffdbd0;
    border: 2px solid #EA580C;
    padding: 10px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 10px;
    /* width: 100%; */
    color: #EA580C;
cursor: pointer;
}