.login__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid white; */
    padding: 3%;
    height: 400px; 
    width: 300px; 
    border-radius: 18px; 
    box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
    background-color: #0c0a0938;
}

h1 {
    margin: 0;
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 3.5rem;
}

.login__group {
    margin-top: 15px;
    width: 100%; 
    font-size: 1.8rem;
}

form {
    width: 100%; 
}

.login__group label {
    display: block; 
    margin-bottom: 5px; 
}

.login__group input {
    display: block;
    width: 100%; 
    padding: 0.85rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.35rem;
    box-sizing: border-box; 
}


